body {
  font-family: 'Open Sans', sans-serif;
}

/* h1,
h2,
h3,
.card-body > .card-title {
  font-family: 'Lobster', cursive;
} */

/* .card-title {
  font-weight: 500;
  font-size: 1.25rem;
} */

/* h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
} */

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
  margin-top: 2rem;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;

  max-width: 4rem;
}

.navbar-dark {
  /* background-color: linear-gradient(
    to left,
    /* #5637dd,
    #3046c5,
    #3046c5, */ /* white,
    white */

  /* margin-bottom: 2rem; */
  min-height: 4rem;
  padding-top: 2rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.dataCard {
  background-color: hwb(0 99% 0%);
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.firstCard {
  width: 92%;
  height: 20rem;
}

.secondCard {
  width: 50%;
  height: 20rem;
}

.thirdCard {
  width: 40%;
  height: 20rem;
}
.data {
  margin-top: 4vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}
.header {
  /* padding: 30px; */
  text-align: center;

  color: black;
  font-size: 30px;
}
